* {
    box-sizing: border-box;
}

html {
    height: 65vh;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    background-color: #fff;
    line-height: 1.5;
    margin: 0;
}

a {
    text-decoration: none;
    color: #0366d6;
}

.header {
    padding: 32px 0 24px;
    border-bottom: 0;
    width: 100%;
    height: min-content;
    text-align: center;
}

.header-logo {
    fill: currentColor;
    vertical-align: text-bottom;
}

.login {
    width: 340px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.sign-in-title {
    width: 100%;
    font-weight: 300;
    letter-spacing: -.5px;
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.login-body {
    border-radius: 5px;
    margin-top: 16px;
    background-color: #f6f8fa;
    border: 1px solid #eaecef;
    padding: 20px;
}

.login-label {
    display: block;
    margin-bottom: 7px;
    text-align: left;
    font-weight: 400;
}

.login-label>a {
    float: right;
    font-size: 12px;
}

.login-input {
    display: block;
    padding: 5px 12px;
    line-height: 20px;
    border: 1px solid #eaecef;
    outline: none;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.sign-in-button {
    display: block;
    line-height: 20px;
    margin-top: 20px;
    background-color: #2ea44f;
    text-align: center;
    color: white;
    border-radius: 5px;
    width: 100%;
    padding: 5px 12px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    cursor: pointer;
    font-weight: 600;
}

.sing-up-card {
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #eaecef;
    text-align: center;
    width: 100%;
    margin: 16px 0 0 0;
}

.footer {
    margin-top: 40px;
    padding: 40px;
    max-width: 1012px;
    margin-left: auto;
    margin-right: auto;
}

.footer>ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer>ul>li {
    margin-right: 16px;
}

.p-relative {
    position: relative;
}

.secondary {
    color: #586069;
}

.d-block {
    display: block;
}

@media only screen and (min-width: 1012px) {
    .sm-footer {
        padding-right: 16px !important;
        padding-left: 16px !important;
    }
}